<div class="container">
  <br>
  <% if current_user.admin %>
    <%= link_to "< Volver a lista de unidades", topics_path %> <br><br>
  <% end %>
  <div class="forms">
    <h1>Nueva unidad</h1>
  <%= simple_form_for @topic do |t| %>
    <%= t.input :title %>
    <%= t.input :description %>
    <%= t.association :course %>
    <%= t.button :submit %>
  <% end %>
  </div>
</div>
