<div class="container">
  <br>
  <% if current_user.admin %>
    <%= link_to "< Volver a lista de unidades", topics_path %> <br><br>
  <% end %>
  <h1><%= @topic.title %></h1>
  <p><%= @topic.description %></p>
  <ol>
  <% @lessons.each do |lesson| %>
    <li><%= lesson.title %></li>
  <% end %>
  </ol>
  <% if current_user.admin %>
    <%= link_to "Editar >", edit_topic_path(@topic) %> |
    <%= link_to "Eliminar >", topic_path(@topic), data: {
      turbo_method: :delete,
                        turbo_confirm: "Are you sure you want to delete this topic?" } %>
  <% end %>
</div>
