<div class="container mt-4">
  <% if current_user.admin %>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to "< Volver a #{@career.name}", career_path(@career), class: "btn btn-primary" %>
    </div>
  <% end %>
  <div class="forms">
    <h1>Editando <%= @career.name %></h1>
  <%= simple_form_for @career do |c| %>
    <%= c.input :name %>
    <%= c.button :submit %>
  <% end %>
  </div>
</div>
