<div class="container">
  <br>
  <% if current_user.admin %>
    <%= link_to "< Volver a lista de usuarios", users_path %> <br><br>
  <% end %>
  <% if !current_user.subscribed %>
    <%= render "shared/unsubscribed" %>
  <% end %>
  <br>
  <h1>Hola <%= @user.name %>!</h1>
  <div class="forms" style="margin-top: 24px;">
    <div class="container"> 
      <%= simple_form_for @user do |u| %>
      <div class="row g-3">
        <div class="col-md-6">
          <%= u.input :name, label: "Nombre", disabled: true %>
        </div>
        <div class="col-md-6">
          <%= u.input :last_name, label: "Apellido", disabled: true %>
        </div>
      </div>
        <%= u.input :phone_number, label: "Teléfono", disabled: true %>
        <%= u.association :university, label: "Universidad", disabled: true %>
        <%= u.association :career, label: "Área de estudios", disabled: true %>
        <% if current_user.admin? %>
          <%= u.input :subscribed, disabled: true %>
          <%= u.input :admin, disabled: true%>
        <% end %>
        <%= link_to "Actualizar datos >", edit_user_path(@user) %>
      <% end %>
    </div>
  </div>
</div>
