<div class="container my-4">
  <% if current_user.admin %>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to "â† Volver a lista de clases", lessons_path, class: "btn btn-primary" %>
    </div>
  <% end %>
  <div class="forms">
    <h1>Nueva clase</h1>
  <%= simple_form_for @lesson do |l| %>
    <%= l.input :title %>
    <%= l.input :time %>
    <%= l.input :asset, as: :file %>
    <%= l.association :topic %>
    <%= l.input :description %>
    <%= l.input :free %>
    <%= l.input :category %>
    <%= l.button :submit %>
  <% end %>
  </div>
</div>
