<div class="container">
  <br>
  <%= link_to "< Volver", topic_path(@lesson.topic_id) %> <br><br>
  <h1><%= @lesson.title %></h1>
  <p><%= @lesson.description %></p>
  <div class="embed-responsive embed-responsive-16by9">
    <%= cl_video_tag @lesson.asset.key, controls: true, controlsList: "nodownload" , height: "75%", class: "embed-responsive-item" %>
  </div>
  <br>
  <% if current_user.admin %>
    <%= link_to "Editar >", edit_lesson_path(@lesson) %> |
    <%= link_to "Eliminar >", lesson_path(@lesson), data: {
      turbo_method: :delete,
                        turbo_confirm: "Are you sure you want to delete this lesson?" } %>
  <% end %>
</div>
