<div class="container my-4">
  <div class="flash flash-warning mb-4">
    <span>⚠️ Estamos teniendo problemas con los videos en Safari. Mientras lo resolvemos, <strong>puedes cambiar de navegador o actualizar la página para verlo.</strong></span>
  </div>
  <div class="btn-group mb-4" role="group" aria-label="Basic example">
    <%= link_to "← Volver", topic_path(@lesson.topic_id), class: "btn btn-primary" %>
  </div>
  <div class="bg-light p-5 rounded my-4">
    <h1><%= @lesson.title %></h1>
    <p><%= @lesson.description %></p>
    <div class="embed-responsive embed-responsive-16by9">
      <%= cl_video_tag @lesson.asset.key, controlsList: "nodownload", controls: true, class: "embed-responsive-item" %>
    </div>
  </div>
  <% if current_user.admin %>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to "Editar →", edit_lesson_path(@lesson), class: "btn btn-primary" %>
      <%= link_to "Eliminar →", lesson_path(@lesson),
                        class: "btn btn-primary",
                        data: {
                          turbo_method: :delete,
                        turbo_confirm: "Are you sure you want to delete this career?" } %>
    </div>
  <% end %>
</div>
