<div class="container">
  <br>
  <% if current_user.admin %>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to "â† Volver a #{@course.name}", course_path(@course), class: "btn btn-primary" %>
    </div>
  <% end %>
  <div class="forms">
    <h1>Editando <%= @course.name %></h1>
  <%= simple_form_for @course do |c| %>
    <%= c.input :name %>
    <%= c.input :description %>
    <%= c.button :submit, class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
