<div class="container">
  <br>
  <% if current_user.admin %>
    <%= link_to "< Volver a lista de cursos", courses_path %> <br><br>
  <% end %>
  <div class="forms">
    <h1>Nuevo curso</h1>
  <%= simple_form_for @course do |c| %>
    <%= c.input :name %>
    <%= c.input :description %>
    <%= c.button :submit, label: "Crear curso", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
