<div class="container">
  <% if !current_user.subscribed %>
    <br>
    <%= render "shared/unsubscribed" %>
  <% end %>
  <div class="btn-group my-4" role="group" aria-label="Basic example">
    <%= link_to "← Volver a lista de cursos", courses_path, class: "btn btn-primary" %>
  </div>
  <h1><%= @course.name %></h1>
  <p><%= @course.description %></p>
  <h3>Unidades</h3>

  <% @topics.each do |topic| %>
  <ul class="list-group">
    <%= link_to topic_path(topic), class: "text-decoration-none" do %>
      <li class='list-group-item d-flex justify-content-between align-items-center'>
        <%= topic.title %>
        <span class='badge badge-primary badge-pill'><%= @lessons.where(topic_id: topic).count %></span>
      </li>
    <% end %>
  </ul>
  <% end %>

  <br>
  <% if current_user.admin %>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to "Editar →", edit_course_path(@course), class: "btn btn-primary" %>
      <%= link_to "Eliminar →", course_path(@course), class: "btn btn-primary", data: {
      turbo_method: :delete,
                        turbo_confirm: "Seguro que quieres borrar este curso?" } %>
    </div>
  <% end %>
</div>
