<div class="container my-4">
  <br>
  <% if current_user.admin %>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to "â† Volver a #{@university.initials}", university_path(@university), class: "btn btn-primary" %>
    </div>
  <% end %>
  <div class="forms">
    <h1>Editando <%= @university.initials %></h1>
  <%= simple_form_for @university do |u| %>
    <%= u.input :name %>
    <%= u.input :initials %>
    <%= u.button :submit %>
  <% end %>
  </div>
</div>
