<div class="container">
  <br>
  <% if current_user.admin %>
    <%= link_to "< Volver a lista de universidades", universities_path %> <br><br>
  <% end %>
  <div class="forms">
    <h1>Nueva universidad</h1>
  <%= simple_form_for @university do |u| %>
    <%= u.input :name %>
    <%= u.input :initials %>
    <%= u.button :submit %>
  <% end %>
  </div>
</div>
